<div class="grid grid-cols-12">
  <!-- Billing Address -->
  <div class="col-span-8">
    <div class="card shadow">
      <div class="card-header bg-danger bg-opacity-25">
        <h4>Billing Address</h4>
      </div>
      <div class="card-body mb-5">
        <!-- form start -->
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <input type="text" placeholder="City " class="form-control m-2" />
          </div>
          <div class="col-lg-6 col-md-6">
            <input
              type="text"
              placeholder="Pincode "
              class="form-control m-2"
            />
          </div>
          <div class="col-lg-6 col-md-6">
            <textarea
              placeholder="Address Line 1 "
              class="form-control m-2"
              rows="3"
            ></textarea>
          </div>
          <div class="col-lg-6 col-md-6">
            <textarea
              placeholder="Address Line  2"
              class="form-control m-2"
              rows="3"
            ></textarea>
          </div>
          <div class="col-lg-6 col-md-6">
            <textarea
              placeholder="Landmark"
              class="form-control m-2"
              rows="3"
            ></textarea>
          </div>
        </div>
        <!-- form end -->
      </div>
    </div>
  </div>
  <!-- Your Order -->
  <div class="col-span-4">
    <div class="card shadow">
      <div class="card-header bg-danger bg-opacity-25">
        <h4>Seu Pedido</h4>
      </div>
      <div class="card-body">
        @for (product of cartData ; track product.productId) {
        <div class="border-t border-solid flex mt-2">
          <img
            class="p-2 w-24 y-24"
            [src]="product.productImageUrl"
            alt="{{ product.productName }}"
          />
          <div class="ps-3">
            <h4 class="p-0 text-2xl m-0 text-semibold">
              {{ product.productName }}
            </h4>
            <h4 class="p-0 text-sxl m-0 text-semibold">
              {{ product.productShortName }}
            </h4>
            <p class="p-0 m-0">{{ product.productPrice }}</p>
            <p class="text-start mt-4">
              <button class="bg-purple-900 p-4 rounded-sm">
                Quantidade : <b>{{ product.quantity }}</b>
              </button>
            </p>
          </div>
        </div>
        }
      </div>
      <div class="border-top">
        <div class="border-top">
          <div class="d-flex justify-content-between mt-2">
            <p class="fw-semibold">Total :</p>
            <p class="fw-semibold">${{ totalAmount }}</p>
          </div>
        </div>
        <div class="row border-top">
          <div class="col-12 text-center mt-2">
            <div class="w-100 bg-black">
              <button class="btn text-white rounded-0" (click)="placeOrder()">
                Place Order
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
