<app-navbar></app-navbar>
@if (loggedUserData.custId == 0) {

<button class="btn btn-accent" onclick="loginModal.showModal()">
  Login Accents
</button>
<button class="btn btn-secondary" onclick="registerModal.showModal()">
  Register Modal
</button>
} @else {
<button class="btn btn-accent" onclick="loginModal.showModal()">
  {{ loggedUserData.name }}
</button>
<button
  class="btn btn-primary"
  [routerLink]="['/create-order']"
  routerLinkActive="router-link-active"
>
  Create Order
</button>

<button class="btn btn-warning" (click)="logOff()" #registerModal>
  LogOff
</button>

}
<dialog id="loginModal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Login Modal!</h3>
    <p class="py-4">Pressione ESC ou clique no botão Fechar</p>
    <div class="modal-action">
      <form
        [formGroup]="loginFormGroup"
        (submit)="openLoginModal()"
        method="dialog"
      >
        <label for="UserName">Celular: </label>
        <input
          class="input-md"
          id="UserName"
          type="text"
          formControlName="UserName"
        />
        <br />

        <label for="UserPassword">Senha: </label>
        <input
          class="input-md"
          id="UserPassword"
          type="text"
          formControlName="UserPassword"
        />
        <button class="btn btn-accent" (click)="onLoginUser()">Logar</button>
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Fechar</button>
      </form>
    </div>
  </div>
</dialog>

<dialog id="registerModal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Olá E-commerce!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form
        [formGroup]="registerFormGroup"
        (submit)="openRegisterModal()"
        method="dialog"
      >
        <label for="name">Nome: </label>
        <input class="input-md" id="name" type="text" formControlName="Name" />
        <br />
        <label for="mobile">Celular: </label>
        <input
          class="input-md"
          id="mobile"
          type="text"
          formControlName="MobileNo"
        />
        <br />
        <label for="password">Senha: </label>
        <input
          class="input-md"
          id="password"
          type="text"
          formControlName="Password"
        />
        <button class="btn btn-accent" (click)="registerNewCustomer()">
          Registrar
        </button>
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Fechar</button>
      </form>
    </div>
  </div>
</dialog>
<router-outlet></router-outlet>
